
body: {
    margin: 0;
    background: #555;
}

header {
    background: red;
}

header h1{
    margin: 0;
    color: red;
}

nav ul{
    margin: 0;
}

nav ul li {
    padding: 10 px;
    list-style-type: none;
    display: inline-block;
}

